.contacts {
  border: 4px green solid;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-style: light;
  color: #000000;
}
.contacts__inner {
  padding: 49px 33px;
}
.contacts__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: bold;
  color: #000000;
}
.contacts__details {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-style: light;
  color: #D22856;
}
.contacts__map {
background-image: url('../img/bg-map-mobile@1x.png');
background-repeat: no-repeat;
min-height: 299px;
padding: 0;
}
