.features {

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
  margin: 48px 0 0 0;
}

.features__wrap {
}

.features__wrapper {
  margin-top: 87px;
  text-align: center;
  position: relative;
  background-color: $gray;
  width: 100%;
}
.features__wrapper::before {
  content: "";
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  top: -74px;
  width: 100%;
  height: 94px;
}

.features__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 0;
}

.features__lead {
  @include container;
  text-align: center;
  background-color: #ffffff;
}

.features__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  margin-top: 6px;
}

.features__text--position {
  margin-bottom: 49px;
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
}
.features__item-content {
  padding-bottom: 11px;
}

.features__item--friends {
  position: relative;
  padding-bottom: 254px;
}
.features__item--friends::after {
  content: "";
  background-image: url("../img/iphone-screen-mob@1x.png");
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  left: 50%;
  margin-left: -78px;
  width: 158px;
  height: 278px;
}

@media (min-resolution: $retina-dpi, $retina-dppx) {
  .features__item--friends::after {
    background-image: url("../img/iphone-screen-mob@2x.png");
  }
}

@media (min-width: $tablet-width) {

  .features__wrapper {
    display: flex;
    background-color: $gray;
    margin-bottom: 105px;
    text-align: left;
  }

  .features__item--friends::after {
    display: none;
  }

  .features__br {
    display: block;
  }

  .features__lead {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    padding-bottom: 130px;
    text-align: center;
    margin-top: 50px;
  }

  .features__title {
    display: block;
    margin: 0;
  }

  .features__subtitle {
    display: block;
    margin: 0;
  }

  .features__item {
    width: 310px;
    padding-bottom: 6px;
  }
  .features__item-content {
    padding-bottom: 0;
  }

  .features__text--position {
    margin-bottom: 0;
  }

  .features__img {
    width: 270px;
    height: 483px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 270px auto;
    margin: -60px 46px 0 20px;
    position: relative;
  }

    @media (min-resolution: $retina-dpi, $retina-dppx) {
      .features__img {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .features__name {
    margin-bottom: 5px;
  }

  .features__text {
    width: 310px;
    line-height: 25px;
    margin: 7px 0;
  }

  .features__item--friends {
    background-image: none;
    padding-bottom: 0;
  }


@media (min-width: $desktop-width) {
  .features {
    margin: 0;
  }

  .features__lead {
    font-size: 50px;
    line-height: 60px;
    width: 920px;
    padding-bottom: 168px;
  }

  .features__wrapper {
    margin-bottom: 0;
  }
  .features__wrapper::before {
    top: -94px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    margin: -90px auto 0;
    justify-content: space-between;
    z-index: 1;
  }

  .features__name {
    font-size: 30px;
    line-height: 30px;
    margin: 35px 0 25px 0;
  }

  .features__text {
    font-size: 18px;
    line-height: 30px;
    width: 240px;
    margin-bottom: 40px;
  }

  .features__img {
    display: none;
  }

  .features__item {
    display: flex;
    margin-right: 81px;
    width: 280px;
    box-sizing: border-box;
  }

  .features__item--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 320px;
    background-size: 270px auto;


    @media (min-resolution: $retina-dpi, $retina-dppx) {
      .features__item--mood {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }
  }

  .features__item--world {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 320px;
    background-size: 270px auto;


    @media (min-resolution: $retina-dpi, $retina-dppx) {
      .features__item--world {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }
  }

  .features__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 270px auto;

    padding-top: 320px;
    padding-bottom: 0;
    margin: 0;

    @media (min-resolution: $retina-dpi, $retina-dppx) {
      .features__item--friends {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}
