.gallery {
  background-color: #FFFFFF;
  border: 4px green solid;
  padding: 54px 37px;
}
.gallery__lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}
