.main-nav {
  font-family: "Open Sans", "Arial", sans-serif;
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #283645;
}

.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
}

.main-nav__wrapper {
  position: relative;
}

.site-list__link {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
}

.site-list__link a {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.site-list__item--active {
  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -52px;
  right: 20px;

  display: block;
  width: 60px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $light-pink;
  box-shadow: 0 8px 0 0 $light-pink, 0 16px 0 0 $light-pink;
}

.main-nav--opened .main-nav__toggle {
  top: -52px;
  right: 12px;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 27px;
  width: 28px;
  height: 5px;
  background-color: #ffffff;
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: $light-pink;
  box-shadow: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-nav--opened .main-nav__toggle {
    top: -71px;
    right: 12px;
  }

  .main-nav--closed .main-nav__toggle {
    top: -71px;
    right: 12px;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: 273px;
    margin-top: -86px;
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    width: 656px;
    padding: 21px 12px 25px 18px;
  }


  .site-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .site-list__item {
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    background: transparent;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .site-list__link {
    text-transform: none;
    padding: 9px;
  }
}

