.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #283645;
}

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  min-height: 63px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
}

.main-nav__wrapper {
  position: relative;
}

.site-list__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__link a {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.site-list__item--active {
  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -34px;
  left: 255px;
  z-index: 1;
  display: block;
  width: 60px;
  height: 32px;
  background-color: red;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: red;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-nav__toggle {
    position: absolute;
    top: -94px;
    left: 545px;
    z-index: 1;
  }

  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    width: 100%;
  }
}

.main-nav-opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-list__item {
    justify-content: center;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    background: transparent;
    border: none;
    padding: 10px;
  }

  .main-nav {
    margin-left: 150px;
    margin-top: -87px;
    width: 700px;
    min-height: 70px;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }
}
