.page-header {
  background-color: #283645;
}

.page-header__wrapper {
  @include container;
}

.page-header__logo {
  display: block;
  width: 80px;
  padding: 20px 20px 13px;
}

@media (min-width: $tablet-width) {
  .page__header {
    width: 660px;
    margin: 0 auto;
  }

  .page-header__logo {
    padding: 31px 25px;
    width: 153px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/line.png");
    width: 100%;
  }

  .page-header__logo {
    padding: 27px 20px;
    background-image: url("../img/logo-pink-blue-mobile.svg");
    background-repeat: no-repeat;
  }
}
