.page-footer {
  @include container;
  background-color: #ffffff;
  margin-top: 30px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-footer__flex-item {
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  width: 185px;
}

.copyright__text {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.page-footer__wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.logo-htmlacademy {
  fill: #d22856;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 182px;
  }

  .copyright {
    display: flex;
  }
}
