.page-footer {
  @include container;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  margin-top: 54px;
}

.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-footer__flex-item {
  margin-bottom: 30px;
}

.copyright {
  display: flex;
  width: 185px;
}

.copyright__text {
  display: flex;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 9px;
  padding-left: 27px;
}

.copyright__link {
  display: flex;
  align-items: center;
}

.logo-htmlacademy {
  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 47px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .copyright {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }

  .copyright__text {
    margin-right: 10px;
    padding: 0;
  }

  .page-footer__logo {
    margin-right: 44px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 31px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    width: 182px;
    margin-right: 15px;
  }
}
