.page-header {
  @include container;
  background-color: #283645;
  min-height: 68px;
}

.page-header__logo {
  display: block;
  min-height: 24px;
  width: 80px;
}

.page-header__heading {
  min-width: 280px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-header__heading {
    min-height: 111px;
    padding: 20px 10px;
  }
  .page-header__logo {
    width: 153px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 111px;
    background-image: url("../img/line.png");
  }

  .page-header__heading {
    padding: 20px 20px;
  }

  .page-header__logo {
    background-image: url("../img/logo-pink-blue-mobile.svg");
    background-repeat: no-repeat;
  }
}
