.photo-editor {
  background-color: $gray;
  border: 4px green solid;
  padding: 20px 21px 30px;
}

.photo-editor__btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  font-style: bold;
  color: #D22856;
}
