.photo-upload {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .photo-upload {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .photo-upload {
    width: 960px;
  }
}
