.popup {
  padding: 40px 25px;
}

.popup__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}

.popup__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  font-style: bold;
  color: #000000;
}
