.post {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: $gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: #000000;
  margin: 10px 10px;
}

.post--main {
  margin: 0;
}

.post__list {
  display: flex;
  flex-direction: column;
}

.post__author {
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.post__stats {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #d22856;
  text-transform: uppercase;
}

.post__btn {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #d22856;
}

.post__rubric {
  background-color: #d22856;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.rubric__text {
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .post__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .post--main {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .post__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }
  
  .post--main {
    width: 940px;
  }
}
