.promo {
  @include container;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}

.promo__heading {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.promo__img {
  width: 300px;
  min-height: 290px;
  position: relative;
  top: 10px;
}

@media (min-width: $tablet-width) {
  .promo__img {
    position: absolute;
    margin-left: 170px;
    margin-top: 46px;
    min-height: 548px;
    width: 470px;

    & img {
      height: 547px;
      width: 470px;
    }
  }

  @media (min-width: $desktop-width) {
    .promo {
      flex-direction: row;
    }

    .promo__img {
      position: absolute;
      margin-left: 356px;
      margin-bottom: 500px;
      margin-top: 46px;
      min-height: 548px;
      width: 470px;

      & img {
        height: 547px;
        width: 470px;
      }
    }
  }
}
