.rates {
  background-color: $gray;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: bold;
  color: #000000;
  padding: 0 0 45px;

}
.reviews__item {
  text-align: middle;
}
.rates__table {
  background-color: #ffffff;
  overflow: hidden;
  width: 620px;
  margin: 0 auto;
}

.rates__table-header {
  background-color: #283645;
  color: #ffffff;

}

.rates__header {

}

.rates__item {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  color: #000000;
  border-collapse: collapse;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 620px;
  }
  .contacts__items {
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
  }

  .contacts__items--address {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 960px;
  }
  .contacts__container {
    justify-content: space-between;
  }
  .contacts__items {
    flex-direction: row;
    width: 280px;
  }
  .contacts__items--mail {
    order: 1;
  }
}
