.research {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #000000;
  display: none;
  margin-bottom: 130px;
}

.research__wrapper {
  @include container;
  display: flex;
}

.research__container {
  width: 310px;
}

.research__title {
  display: block;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 9px;
}

.research__timer {
  display: block;
  font-size: 96px;
  font-weight: 700;
  color: #d22856;
  width: 310px;
}

.research__time {
  position: relative;
}
 .research__digit {
   display: block;
   text-align: center;
 }
.research__digit::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-timer.svg");
  background-repeat: no-repeat;
  width: 240px;
  height: 278px;
  top: -133px;
  left: 31px;

}

.research__digit::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-timer-circle.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 345px;
  top: -150px;
  left: 0;
}

.research__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.research__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #d22856;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }

  br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .research {
    display: block;
    padding-top: 126px;
    background-color: $gray;
  }

  .research__wrapper {
    padding-bottom: 83px;
  }

  .research__time {
    font-size: 120px;

  }

  .research__timer {
    margin-right: 56px;
  }

  .research__text {
    font-size: 18px;
    line-height: 30px;
    width: 530px;
    padding: 11px 0 29px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }

  br {
    display: none;
  }

  .research__desctop {
    display: block;
  }
  .research__digit::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-timer-big.svg");
    background-repeat: no-repeat;
    width: 309px;
    height: 357px;
    top: -172px;
    left: 0;
  }
  .research__digit::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-timer-circle-big.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 345px;
    top: -150px;
    right: 9px;
  }
}
