.social {
  display: flex;
  width: 182px;
  padding: 0;
  margin-bottom: 31px;
}

.social__item {
  position: relative;
  margin-right: 10px;
  height: 47px;
  width: 47px;
  border: 3px solid $gray;
  border-radius: 50%;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #e9ebec;
  }
}

.social__item:last-child {
  margin-right: 0;
}
.social__link {
  position: absolute;
  right: 15px;
  top: 12px;
}

.social__link--twitter,
.social__link--facebook,
.social__link--yotube {
  fill: #d22856;

  &:active {
    fill: #f1becc;
  }
}

.social__link--twitter {
  top: 15px;
  left: 14px;
  width: 18px;
  height: 15px;
}

.social__link--facebook {
  top: 12px;
  left: 18px;
  width: 9px;
  height: 19px;
}

.social__link--yotube {
  top: 15px;
  left: 17px;
  width: 15px;
  height: 14px;
}

.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 178px;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: 6px;
  }
}
